#home-component-header {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 5%;
  display: flex;
  justify-content: space-around;
}

#home-button {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0;
}

#home-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

#user-button {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  right: 0;
}
#user-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
#searchSongInput{
  border-radius: 20px;
}
#searchSongButton{
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
#searchButton{
  margin-top: 4%;
}

#searchButton:hover{
  opacity: 0.6;
  cursor: pointer;
}