.library-component {
  width: 100%;
  height: 30%;
  margin-top: 12%;
}

.library-component-album-list {
  display: grid;
  align-content: flex-start;
  /* grid-template-columns: 50% 50% 50% 50%; */
  grid-template-rows: 25% 25%;
  overflow-x: auto;
  justify-items: center;
  height: 100%;
  scrollbar-width: none; /* Oculta la barra de desplazamiento en navegadores Firefox */
}

.album-component {
  width: 92%;
  height: 80%;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 4%;
}

.library-component-title {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  margin-left: 1.5%;
  text-align: initial;
  color: #c7b9b3;
}

.library-component-song-list {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; /* Oculta la barra de desplazamiento en navegadores Firefox */
  width: 100%;
  height: 100%;
}

.library-component-song-list::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en navegadores webkit como Chrome y Safari */
}

.library-component-album-list::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en navegadores webkit como Chrome y Safari */
}

.library-component-songLatest-list::-webkit-scrollbar {
  display: none;
}

.library-component-songOutStanding-list::-webkit-scrollbar {
  display: none;
}

@media (width <= 750px) {
  .song-component {
    flex: 0 0 50%;
    height: 91%;
    margin-right: 2%;
    margin-left: 1%;
  }
}

@media (width > 1250px) {
  .song-component {
    flex: 0 0 25%;
    height: 91%;
    margin-right: 1%;
    margin-left: 1%;
  }
}

.library-component-songLatest-list {
  display: grid;
  align-content: flex-start;
  grid-template-columns: repeat(2, 100%);
  grid-template-rows: 25% 25% 25% 25%;
  overflow-x: auto;
  justify-items: center;
  height: 100%;
  scrollbar-width: none; /* Oculta la barra de desplazamiento en navegadores Firefox */
}

.songLatest-component {
  width: 92%;
  height: 90%;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 4%;
}

.library-component-latest {
  width: 100%;
  height: 30%;
  margin-top: 15%;
}

.library-component-outstanding {
  width: 100%;
  height: 30%;
  margin-top: 14%;
}

.library-component-songOutStanding-list {
  display: grid;
  align-content: flex-start;
  grid-template-columns: repeat(2, 100%);
  grid-template-rows: 25% 25% 25% 25%;
  overflow-x: auto;
  justify-items: center;
  height: 100%;
  scrollbar-width: none; /* Oculta la barra de desplazamiento en navegadores Firefox */
}

.songOutStanding-component {
  width: 92%;
  height: 90%;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 4%;
}

#song-button {
  grid-area: 1 / 2 / 2 / 3;
  left: 0;
}
#album-button {
  grid-area: 1 / 2 / 2 / 3;
  left: 0;
}

#song-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
#album-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (width < 750px) {
  .button-text {
    column-count: 2;
    column-gap: 0;
    margin-right: 15%;
  }
}

@media (width > 1250px) {
  .button-text {
    column-count: 2;
    column-gap: 0;
    margin-right: 80%;
  }
}

#albumSongsComponent {
  display: flex;
  justify-content: center;
}
@media (width < 750px) {
  #albumSongsList {
    width: 50%;
    height: 20%;
  }
}
@media (width > 1250px) {
  #albumSongsList {
    width: 30%;
    height: 15%;
  }
}

#albumSongsComponent {
  display: flex;
  justify-content: center;
}

#albumSongs {
  display: flex;
  justify-content: center;
  width: 100%;
}
.songLatest-component {
  width: 92%;
  height: 90%;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 4%;
}
h1 {
  text-align: center;
}

.outer-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.inner-grid {
  flex: 10%;
  max-width: 10%;
}

@media screen and (max-width: 800px) {
  .inner-grid {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .inner-grid {
    flex: 100%;
    max-width: 100%;
  }
}

@media (width > 1250px) {
  #albumSongsComponent {
    margin-top: 5%;
  }
}
@media (width < 750px) {
  #albumSongsComponent {
    margin-top: 15%;
  }
}

@media (width > 1250px) {
  .inner-grid img {
    width: 100%;
  }
}
@media (width < 750px) {
  .inner-grid img {
    width: 45%;
  }
}
