
body {
	background: #2a2438;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

#app-root-component {
  display: inline-block;

  width: 99vw;
  height: 97vh;
  margin: 0;

}
